.root {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  .p-float-label {
    margin-bottom: 1.8rem;
  }
  &__form-layout {
    width: 35%;
    padding: 3rem;
    border-radius: 5px;
    -webkit-box-shadow: 5px 2px 15px -1px #9b9b9b;
    box-shadow: 5px 2px 15px -1px #9b9b9b;
    position: relative;
  }
  .loadingSkeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.fullWidthInput {
  width: 100% !important;
}

input {
  width: 100%;
}

:host {
  ::ng-deep .p-dropdown {
    width: 100%;
  }

  .companyGroup {
    ::ng-deep .p-dropdown {
      width: 48%;
    }
  }
}
