button {
  margin-right: 1rem !important;
}
p-table {
  * {
    font-size: 10px;
  }
  p-dropdown {
    font-size: 10px;
  }
}

:host {
  ::ng-deep .p-dropdown {
    span {
      font-size: 10px;
    }
  }
  ::ng-deep .moreThan16 {
    background-color: #00556f !important;
    color: rgb(255, 255, 255) !important;
  }
}
